@import '../abstract/variables';

#curiosity {
    padding: 1rem;
    text-align: center;
    margin: 5px;
    h3 {
        color: $primary;
        font-size: $default-size/2.5;
    }
    h4 {
        color: $secondary;
        font-size: $default-size/3;
    }
    p {
        margin-top: 5px;
        color: $primary;
    }
}