body {
    margin: 0;
    padding: 0;
}

.container {
    height: 100vh;
    display: flex;

    .esquerdo {
        width: 50%;
        background-color: rgb(127, 187, 189);

        .texto {
            margin-top: 40%;
            text-align: center;
            font-size: 150px;
            color: rgb(113, 4, 122);
        }
    }

    .direito {
        width: 50%;
        background-color: rgb(113, 4, 122);

        .texto {
            margin-top: 40%;
            text-align: center;
            font-size: 150px;
            color: rgb(127, 187, 189);
        }
    }
}

